<div class="profileContainer">
    <p>Edit your profile</p>

{{#if error}}
<p>Oops something went wrong!</p>
{{/if}}
{{#if updated}}<p class='updated'>Your profile is now updated</p>{{/if}}
<form class="form" method="post">
    <input type='hidden' name='_csrf' value="{{csrfToken}}">
    {{#data}}
    <input type="text" name="first" value="{{this.first}}">
    <input type="text" name="last" value="{{this.last}}">
    <input type="text" name="email" value="{{this.email}}">
    <input type="password" name="password" placeholder="new password">
    <input type="text" name="age" value="{{this.age}}">
    <input type="text" name="city" value="{{this.city}}">
    <input type="text" name="url" value="{{this.url}}">
    <button>UPDATE</button>
    {{/data}}
</form>
    <form method="POST" action="/sig/delete">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <button>delete your signature</button>
    </form>

</div>
{{>logout}}
