
<!-- <div class='container'> -->

    <p class='header'>We the signers of the 'Tired of fake plants?' Petition </p>
<ul>
    {{#if data}}
    {{#data}}
    <p class='signer'>
        {{#if url}}<a href="http://{{this.url}}"> {{/if}}
            {{this.first}} {{this.last}}
        {{#if url}}</a> {{/if}}  {{this.age}} <a href="/signers/{{this.city}}">{{this.city}}</a> </p> <br>
    {{/data}}
    {{/if}}
    {{#if result}}
{{#result}}
<p class='signer'><a href="{{this.url}}">{{this.first}} {{this.last}}</a> {{this.age}}</p> <br>
{{/result}}
{{/if}}
</ul>
{{>logout}}
<!-- </div> -->
