
<div class='container'>
<img src="https://image.flaticon.com/icons/svg/1752/1752904.svg" alt="">
    <h4 class='smallHeader'>We're the signers of the petition 'Tired of fake plants?' <br>
        &<br> believe that plants can make an major impact on people!</h4>

<ul>
    {{#if data}}
    {{#data}}
    <p class='signer'>
        {{#if url}}<a href="http://{{this.url}}"target="_blank">{{/if}}
            {{this.first}} {{this.last}}
        {{#if url}}</a> {{/if}}  {{this.age}} aus <a href="/signers/{{this.city}}">{{this.city}}</a> </p> <br>
    {{/data}}
    {{/if}}
    {{#if result}}
{{#result}}
<p class='signer'><a href="{{this.url}}">{{this.first}} {{this.last}}</a> {{this.age}}</p> <br>
{{/result}}
{{/if}}
</ul>
{{>logout}}
</div>
