<div class='thanks'>


    <p>Thank you for signing this petition</p>
{{#if sig}}
<img src="{{sig}}"><br>

{{/if}}
    <!-- <form method="post"> -->
    <a href="/signers">Show list of Signers</a>
    <input type='hidden' name='_csrf' value='{{csrfToken}}'>

    <!-- </form> -->

<!-- {{#if data}}
<ul>
    {{#data}}
    <li>{{this.first}} {{this.last}} {{this.timest}}</li> <br>
    {{/data}}
</ul>
{{/if}}
</div> -->
